{
  "semi": true,
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-css-order"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
