:root {
	--white: oklch(1 0 0);

	--white-alpha-1: oklch(1 0 0 / 5%);
	--white-alpha-2: oklch(1 0 0 / 10%);
	--white-alpha-3: oklch(1 0 0 / 15%);
	--white-alpha-4: oklch(1 0 0 / 20%);
	--white-alpha-5: oklch(1 0 0 / 30%);
	--white-alpha-6: oklch(1 0 0 / 40%);
	--white-alpha-7: oklch(1 0 0 / 50%);
	--white-alpha-8: oklch(1 0 0 / 60%);
	--white-alpha-9: oklch(1 0 0 / 70%);
	--white-alpha-10: oklch(1 0 0 / 80%);
	--white-alpha-11: oklch(1 0 0 / 90%);
	--white-alpha-12: oklch(1 0 0 / 95%);
}

@theme inline {
	--color-white: var(--white);

	--color-white-alpha-1: var(--white-alpha-1);
	--color-white-alpha-2: var(--white-alpha-2);
	--color-white-alpha-3: var(--white-alpha-3);
	--color-white-alpha-4: var(--white-alpha-4);
	--color-white-alpha-5: var(--white-alpha-5);
	--color-white-alpha-6: var(--white-alpha-6);
	--color-white-alpha-7: var(--white-alpha-7);
	--color-white-alpha-8: var(--white-alpha-8);
	--color-white-alpha-9: var(--white-alpha-9);
	--color-white-alpha-10: var(--white-alpha-10);
	--color-white-alpha-11: var(--white-alpha-11);
	--color-white-alpha-12: var(--white-alpha-12);
}
