@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/variables/color.css";
@plugin "tailwindcss-react-aria-components";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --aspect-*: initial;
  --aspect-square: 1 / 1;

  --aspect-standard-horizontal: 4 / 3;
  --aspect-standard-vertical: 3 / 4;

  --aspect-wide-horizontal: 16 / 9;
  --aspect-wide-vertical: 9 / 16;

  --aspect-classic-horizontal: 3 / 2;
  --aspect-classic-vertical: 2 / 3;

  --aspect-medium-horizontal: 5 / 4;
  --aspect-medium-vertical: 4 / 5;

  --aspect-panoramic-horizontal: 2 / 1;
  --aspect-panoramic-vertical: 1 / 2;

  --aspect-anamorphic-horizontal: 21 / 9;
  --aspect-anamorphic-vertical: 9 / 21;


  --color-*: initial;

  --color-transparent: transparent;


  --text-*: initial;

  --text-heading-72: 4.5rem;
  --text-heading-72--line-height: 1;
  --text-heading-72--letter-spacing: -0.05em;
  --text-heading-72--font-weight: 600;

  --text-heading-64: 4rem;
  --text-heading-64--line-height: 1;
  --text-heading-64--letter-spacing: -0.05em;
  --text-heading-64--font-weight: 600;

  --text-heading-56: 3.5rem;
  --text-heading-56--line-height: 1;
  --text-heading-56--letter-spacing: -0.05em;
  --text-heading-56--font-weight: 600;

  --text-heading-48: 3rem;
  --text-heading-48--line-height: 1.2;
  --text-heading-48--letter-spacing: -0.05em;
  --text-heading-48--font-weight: 600;

  --text-heading-40: 2.5rem;
  --text-heading-40--line-height: 1.2;
  --text-heading-40--letter-spacing: -0.05em;
  --text-heading-40--font-weight: 600;

  --text-heading-32: 2rem;
  --text-heading-32--line-height: 1.2;
  --text-heading-32--letter-spacing: -0.05em;
  --text-heading-32--font-weight: 600;

  --text-heading-24: 1.5rem;
  --text-heading-24--line-height: 1.3;
  --text-heading-24--letter-spacing: -0.05em;
  --text-heading-24--font-weight: 600;

  --text-heading-20: 1.25rem;
  --text-heading-20--line-height: 1.3;
  --text-heading-20--letter-spacing: -0.05em;
  --text-heading-20--font-weight: 600;

  --text-heading-16: 1rem;
  --text-heading-16--line-height: 1.4;
  --text-heading-16--letter-spacing: -0.05em;
  --text-heading-16--font-weight: 600;

  --text-heading-14: 0.875rem;
  --text-heading-14--line-height: 1.4;
  --text-heading-14--letter-spacing: -0.05em;
  --text-heading-14--font-weight: 600;

  --text-button-16: 1rem;
  --text-button-16--line-height: 1.2;
  --text-button-16--font-weight: 500;

  --text-button-14: 0.875rem;
  --text-button-14--line-height: 1.3;
  --text-button-14--font-weight: 500;

  --text-button-12: 0.75rem;
  --text-button-12--line-height: 1.4;
  --text-button-12--font-weight: 500;

  --text-label-20: 1.25rem;
  --text-label-20--line-height: 1.3;
  --text-label-20--font-weight: 400;

  --text-label-18: 1.125rem;
  --text-label-18--line-height: 1.3;
  --text-label-18--font-weight: 400;

  --text-label-16: 1rem;
  --text-label-16--line-height: 1.3;
  --text-label-16--font-weight: 400;

  --text-label-14: 0.875rem;
  --text-label-14--line-height: 1.4;
  --text-label-14--font-weight: 400;

  --text-label-13: 0.813rem;
  --text-label-13--line-height: 1.4;
  --text-label-13--font-weight: 400;

  --text-label-12: 0.75rem;
  --text-label-12--line-height: 1.4;
  --text-label-12--font-weight: 400;

  --text-paragraph-24: 1.5rem;
  --text-paragraph-24--line-height: 1.4;
  --text-paragraph-24--font-weight: 400;

  --text-paragraph-20: 1.25rem;
  --text-paragraph-20--line-height: 1.6;
  --text-paragraph-20--font-weight: 400;

  --text-paragraph-18: 1.125rem;
  --text-paragraph-18--line-height: 1.6;
  --text-paragraph-18--font-weight: 400;

  --text-paragraph-16: 1rem;
  --text-paragraph-16--line-height: 1.5;
  --text-paragraph-16--font-weight: 400;

  --text-paragraph-14: 0.875rem;
  --text-paragraph-14--line-height: 1.4;
  --text-paragraph-14--font-weight: 400;

  --text-paragraph-13: 0.813rem;
  --text-paragraph-13--line-height: 1.4;
  --text-paragraph-13--font-weight: 400;
}

@theme inline {
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);
  --color-gray-1000: var(--gray-1000);

  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);
  --color-blue-1000: var(--blue-1000);

  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-red-1000: var(--red-1000);

  --color-amber-100: var(--amber-100);
  --color-amber-200: var(--amber-200);
  --color-amber-300: var(--amber-300);
  --color-amber-400: var(--amber-400);
  --color-amber-500: var(--amber-500);
  --color-amber-600: var(--amber-600);
  --color-amber-700: var(--amber-700);
  --color-amber-800: var(--amber-800);
  --color-amber-900: var(--amber-900);
  --color-amber-1000: var(--amber-1000);

  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-1000: var(--green-1000);

  --color-teal-100: var(--teal-100);
  --color-teal-200: var(--teal-200);
  --color-teal-300: var(--teal-300);
  --color-teal-400: var(--teal-400);
  --color-teal-500: var(--teal-500);
  --color-teal-600: var(--teal-600);
  --color-teal-700: var(--teal-700);
  --color-teal-800: var(--teal-800);
  --color-teal-900: var(--teal-900);
  --color-teal-1000: var(--teal-1000);

  --color-purple-100: var(--purple-100);
  --color-purple-200: var(--purple-200);
  --color-purple-300: var(--purple-300);
  --color-purple-400: var(--purple-400);
  --color-purple-500: var(--purple-500);
  --color-purple-600: var(--purple-600);
  --color-purple-700: var(--purple-700);
  --color-purple-800: var(--purple-800);
  --color-purple-900: var(--purple-900);
  --color-purple-1000: var(--purple-1000);

  --color-pink-100: var(--pink-100);
  --color-pink-200: var(--pink-200);
  --color-pink-300: var(--pink-300);
  --color-pink-400: var(--pink-400);
  --color-pink-500: var(--pink-500);
  --color-pink-600: var(--pink-600);
  --color-pink-700: var(--pink-700);
  --color-pink-800: var(--pink-800);
  --color-pink-900: var(--pink-900);
  --color-pink-1000: var(--pink-1000);

  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);

  --color-dark: var(--dark);
  --color-light: var(--light);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  ::-ms-reveal {
    display: none;
  }
}

@utility scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility container {
  margin-inline: auto;
  margin-block: 1rem;
  padding-inline: 1rem;

  @variant md {
    margin-block: 1.5rem;
    padding-inline: 1.5rem;
  }

  @variant xl {
    margin-block: 2rem;
    padding-inline: 2rem;
  }
}
